
body{
  background: linear-gradient( to bottom right,#000000, #131212,#221F3B, #6F4A8E);

}

.headerContainer{
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;
 

}

.headerTtle{
color: coral;
width: 100%;
max-height: 400px;
text-align: center;

}
.headerText{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
   width: 100%;
   max-width: 650px;
   word-wrap:break-word;
   text-align: center;
}

.headerData{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  justify-content: space-around;
   align-items: center;
   margin-top: 10px; 
   width: 80%;
   max-width: 400px;
}
.containerData{
  margin: 1%;
  padding: 5px 10px;
  border-radius: 5em;
  border: 3px solid rgb(255, 111, 0);
  color: rgb(255, 111, 0);
  margin-top: 5px;
}


.VideoContainer{
margin-top: 20px;
width: 100%;
height: 100%;
max-height: 500px;

}

.sectionVideo{
padding-bottom: 59%;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
 position: relative;
}

.sectionVideo >iframe {
box-shadow: 0px 10px 13px -7px #ffffff, inset -4px -1px 7px 0px rgba(46,255,201,0);

position: absolute;
top: 5%;
width: 100%;
height:100%;
max-width: 835px;
max-height: 470px;

}


h3{
  color: white;
  
}

.BtContainer{
  width: 100%; 
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button{
  display: inline-block;
  padding: 0.5% 14.5%;
  width: 60%;
  font-size: max(12px, 2vw);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background: linear-gradient( #0E185F,#2FA4FF);
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px rgb(58, 58, 58);
}

.button:hover {background: linear-gradient( #0E185F,#2FA4FF);}

.button:active {
  background: linear-gradient( #0E185F,#2FA4FF);;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.button2{
  display: inline-block;
  padding: 4% 15%;
  width: 85%;
  font-size: max(15px, 2vw);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background: linear-gradient( #0E185F,#2FA4FF);
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px rgb(58, 58, 58);

}

.button2:hover {background: linear-gradient( #0E185F,#2FA4FF);}

.button2:active {
  background: linear-gradient( #0E185F,#2FA4FF);;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.sectionContainer1{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.txt{
  width: 100%;
  max-width: 500px;
  text-align: justify;
  font-size: max(15px, 1.5vw);
  margin: 10px;
}
.imagemBox{
box-shadow: 5px 5px 10px 3px rgba(255,255,255,0.13);
width: 100%;
height: 100%;
max-width: 450px;
max-height: 300px;
border-radius: 20px;
margin:10px;
}


.sectionContainer2{
  background-color: rgb(24, 21, 21);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}
.txt2{
  width: 100%;
  max-width: 700px;
  text-align: justify;
  font-size: max(15px, 1.5vw);
  margin: 10px;
}

.titulo2{
  color: wheat;
  width: 100%;
  max-width: 700px;
}



.sectionContainer3{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  
  
}
.circle {
  margin-top: 15px;
  background-color: #aaa;
  border-radius: 50%;
  width: 210px;
  height: 210px;
  overflow: hidden;
  box-shadow: 5px 5px 10px 3px rgba(255,255,255,0.13);
 
}
.imagemBox3{
  
  width: 100%;
  height: 100%;
  max-width: 210px;
  max-height: 210px;
  }
  .txt3{
    width: 100%;
    max-width: 500px;
    text-align: center;
    font-size: max(15px, 1vw);
    margin: 10px;
  }

.footerContainer{
background-color: black;
width: 100%;
height: 200px;
margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;
  flex-direction: column;

  text-align: center;
}
.txt4{
  width: 100%;
  max-width: 500px;
  text-align: center;
  font-size: max(15px, 1vw);
  margin: 10px;
}

.containerFormulario{

  background: linear-gradient(#3f4041, #dddada);

}
.EmailInput{
  border: 2px white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: rgb(24, 21, 21);
  color: white;
  margin: auto;
}

.containerModal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}


.btFecharFormulario{
  padding: 1% 10%;
  border-radius: 50px;

  border: none;
  background-color: rgb(43, 43, 43);
  color: aliceblue;

  margin-top: 20px;
}

h4{
  color: white;
  width: 500px;
}

p{
  color: white;
}

.textEnviar{
  color: rgb(76, 97, 55);
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textSucesso{
  color: chartreuse;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}